/* * {
  border: red solid 1px;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
  background-image: 
  url(
"./images/Guillaume.jpeg");
  background-size: "cover";
  /* height: 100vh; */
  margin-top: -70px;
  /* font-size:50px; */
  background-repeat:no-repeat;
  background-attachment: fixed; 
}

.font-face-o {
  font-family: "Orbitron";
 }

.container {
  /* height: 100vh;
  display: grid; */
  margin: 0 auto;
}  

header {
  /* background-color: #000000; */
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#site-title {
  text-align: center;
  font-size: 8vw;
  margin-bottom: -10px;
}

#site-tagline {
  text-align: center;
  font-size: 3vw;
}

.sketch-container {
  display: flex;
  width: 100%;
  /* height: auto; */
  max-height: 600px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #000000; */
  padding: 10px;
}

.info-container > * {
  width: 250px;
  height: 300px;
  background-color: #505050;
  color: #FFF;
  border: 3px solid #cacaca;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 10px;
  padding: 10px;
}



/* 
.directions {

}
.user-input {

}
.weight_display {

}  */