/* * {
  border: red solid 1px;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
  background-color: #9fc2d5;
  color: black;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: inherit;
}

/* .background {
  background-image: 
  url(
"./images/Guillaume.jpeg");
  background-size: "cover";
  margin-top: -70px;
  background-repeat:no-repeat;
  background-attachment: fixed; 
} */

.font-face-o {
  font-family: "Orbitron";
 }

.container {
  /* height: 100vh;
  display: grid; */
  margin: 0 auto;
}  

header {
  /* background-color: #000000; */
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
/* 
#site-title {
  text-align: center;
  font-size: 8vw;
  margin-bottom: -10px;
}

#site-tagline {
  text-align: center;
  font-size: 3vw;
} */

/* Weight Page */
.sketch-container {
  display: flex;
  width: 100%;
  /* height: auto; */
  max-height: 600px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.sketch-border {
  border: 3px solid #55296fb4;
}
.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #000000; */
  padding: 10px;
}

.info-container > * {
  width: 250px;
  height: 300px;
  background-color: #505050;
  color: #FFF;
  border: 3px solid #cacaca;
  text-align: center;
}

/* Input form */
.weight-input {
  padding: 10px;
}
.planet-input {
  padding: 10px;
}

.dropdown {
  color:black;
}

.calculate {
  background-color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #757575;
  padding: 10px;
}

footer {
  color: #cacaca;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}
